{% extends '_layout.html' %}

{% block body %}
    <div>
        <h1>第1关</h1>
        <p>{{detail}}</p>
        <form class="form-inline" action="/first" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputip" class="sr-only">ip</label>
                <input type="text" class="form-control" name="inputip" id="inputip" placeholder="ip">
            </div>
            <button type="submit" class="btn btn-primary mb-2">ping</button>
        </form>
        <h3>Result</h3>
        <div>
            <pre>{{output}}</pre>
        </div>
    </div>
{% endblock %}